@import "@/styles/common/color.module.scss";
@import "@/styles/common/size.module.scss";
@import "@/styles/common/breakpoint.module.scss";

@import "@/styles/mixins/viewport.module.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $sizeM $sizeXXL6;
  height: 70px;
  background-color: $dark-beige;
}

.menu {
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: $dark-beige;
  padding: $sizeM $sizeXXL4;

  .nav {
    flex-direction: column;
  }
}

.nav {
  display: flex;
  gap: $sizeM;
  font-weight: bold;
}

@include viewport($tablet) {
  .header {
    padding: $sizeM $sizeXXL4;
  }
}

@include viewport($mobile) {
  .header {
    padding: $sizeM;
  }
}
